responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v19.0.0
gdbName=orcl.oracle.com
sid=###ORACLE_SID###
databaseConfigType=SI
createAsContainerDatabase=true
templateName=General_Purpose.dbc
numberOfPDBs=2
pdbName=###PDB_NAME###
useLocalUndoForPDBs=false
pdbAdminPassword=###ORACLE_PWD###
sysPassword=###ORACLE_PWD###
systemPassword=###ORACLE_PWD###
emExpressPort=5500
dbsnmpPassword=###ORACLE_PWD###
datafileDestination=/opt/app/oracle/oradata
recoveryAreaDestination=/opt/app/oracle/flash_recovery_area
storageType=FS
characterSet=AL32UTF8
databaseType=MULTIPURPOSE
automaticMemoryManagement=false
totalMemory=1100
