oracle.install.responseFileVersion=/oracle/install/rspfmt_clientinstall_response_schema_v19.0.0
UNIX_GROUP_NAME=oinstall
INVENTORY_LOCATION=###ORA_INVENTORY### 
ORACLE_HOME=###ORACLE_HOME###
ORACLE_BASE=###ORACLE_BASE###
oracle.install.client.installType=Administrator
oracle.install.client.customComponents=
oracle.install.client.schedulerAgentHostName=
oracle.install.client.schedulerAgentPortNumber=
